.clip{overflow: hidden; width: 90%; margin: 0 5%}
.clip .subTitle {
    position: relative;
    padding-top: 10px;
    font-size: 1.4em;
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: #fff; text-transform: capitalize
}

.clip .subTitle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 4px;
    margin-left: -50px;
    background: #ebef1c
}

.clip .clip_part {
    width:46%; float: left;
    margin: 0 2%;
    margin-bottom: 100px
}

.clip_part .contentArea {
    position: relative;
    width: 96%;
    margin: 30px auto
}

.imgPart {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px
}

.clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}

.clip_part .contentArea p {
    color: #fff;
    text-align: justify;
    font-family: 'Roboto Slab', serif
}
.clip .clip_part .contentArea p strong{display: block; text-transform: capitalize; font-size: 1.5em; font-family: 'Lobster', cursive; margin-bottom: 15px; position: relative}
.clip .clip_part .contentArea p strong::after{content: ''; display: block; width: 100%; height: 3px; background: #ebef1c; position: absolute; left: 0; bottom:  -12px}

.clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}

.clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.6)
}

.clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}

@media screen and (max-width:786px) {
    
    .clip .clip_part {
    width:auto; float:none;}
    
}

@media screen and (max-width:640px) {
    .subTitle {
        font-size: 1.5em
    }
}

@media screen and (max-width:480px) {
    .clip_part .playBnt {
        width: 95px;
        height: 95px;
        margin: -48px 0 0 -48px
    }
    .clip_part .contentArea {
        width: auto
    }
}