@charset "utf-8";
/* 모바일 코딩 필수 공통영역 */
* {
 margin:0;
 padding:0;
 -webkit-text-size-adjust:none; }
body {
 color:#333;
 font-size:14px;
 font-family:돋움, Dotum; }
img, fieldset { border:0; vertical-align:top }
ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 {
 font-size:100%;
 font-weight:normal; }
hr { display:none; }
a { color:inherit; }
a, a:link {
 color:#333;
 text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {
 color:#333;
 text-decoration:none; }
em, i, address {
 font-style:normal;
 font-weight:normal; }
legend, caption {
 display:none;
 clear:both; }
input, textarea, select, button, table {
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input {border-radius:1px}
textarea { resize:none; }
label { cursor:pointer; }
table{border-collapse: collapse}
.hidden,#skipNav{display: block; position: absolute; left: -1000%; top: 0; width: 1px; height: 1px; overflow: hidden; color: #fff}

/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Roboto', sans-serif;
*/

/* 전체 공통 */
#wrap{width:100%; overflow:hidden; position: relative}
#wrap .box{background: rgba(0,0,0,.7);width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 10; display: none}
/* 헤더 공통 */
#headerArea{position:fixed;width: 100%; height: 50px; background: #fff; z-index: 10}
#headerArea h1{background: url(../images/logo320.png) no-repeat center}
@media screen and (-webkit-min-device-pixel-ratio : 2){#headerArea h1{background: url(../images/logo640.png) no-repeat center; background-size: 46px 28px}}
#headerArea h1 a{display: block; text-indent: -99999px; padding-top: 20px; padding-bottom: 14px; width: 100%}
#headerArea .btn{display: block; position: absolute; right: 10px; top: 15px; transition: all .5s; width: 30px; height: 30px; transform-origin: center}
#headerArea .btn i{font-size: 1.5em; display: block; padding-top: 4px; padding-left: 5px}
#headerArea .on{z-index: 30; transform: rotate(270deg)}
#headerArea .off{z-index: 20;}
#headerArea #gnb{position: absolute; right: -100%; top: 0; z-index: 20; width: 80%; background: #fff; opacity: 0}
#headerArea #gnb>a{display: block; background: url(../images/logo320.png) no-repeat left; text-indent: -9999999px; margin-left: 10px; padding-top: 20px; height: 30px}
@media screen and (-webkit-min-device-pixel-ratio:2){#headerArea #gnb>a{background: url(../images/logo640.png) no-repeat left; text-indent: -999999px; padding: 10px; background-size: 46px 28px; margin-left: 10px}}
#headerArea #gnb>ul{border-top: 1px solid #33a8e4; padding-top: 15px}
#headerArea #gnb .depth1{margin-bottom: 15px}
#headerArea #gnb .depth1 h3{font-family: 'Nanum Gothic', sans-serif; font-size: 1.429em; font-weight: 700}
#headerArea #gnb .depth1 h3 a{display: block; color: #0055ac; padding: 10px; position: relative}
#headerArea #gnb .depth1 h3 a span{display: block; position: absolute; right: 10%; top: 10px}
#headerArea #gnb .depth1 ul{font-family: 'Nanum Gothic', sans-serif; font-size: 1.143em; display: none}
#headerArea #gnb .depth1 ul li a{display: block; padding: 10px}


/* 푸터 공통 */
#footerArea{text-align: center}
#footerArea .footer_top{font-size: 0.929em}
#footerArea .footer_top ul{overflow: hidden; background: #9a9a9a}
#footerArea .footer_top li{float: left; width: 25%; line-height: 1em}
#footerArea .footer_top li:first-of-type{letter-spacing: -1px}
#footerArea .footer_top li:nth-of-type(2){letter-spacing: -2px}
#footerArea .footer_top li a{display: block; padding: 10px 0; color: #fff}
#footerArea .footer_bottom{background: #737373; font-size: 0.857em; padding-top: 5px; line-height: 1.5em; color: #fff}
#footerArea .footer_bottom ul{overflow: hidden; margin: 5px 0}
#footerArea .footer_bottom li{float: left; width: 50%; position: relative}
#footerArea .footer_bottom li a{display: block}
#footerArea .footer_bottom li:first-of-type a{padding-left: 50%}
#footerArea .footer_bottom li:last-of-type a{padding-right: 50%}
#footerArea .footer_bottom li:first-of-type img{width: 32px; height: 33px}
#footerArea .footer_bottom li:last-of-type img{width: 32px; height: 31px}
#footerArea .footer_bottom p{background: #000; text-transform: uppercase; padding: 2px 0}



