/*faq*/
.main{background: url(../images/sub4_visual.png) no-repeat center; background-size: cover; margin-top: 50px; height: 100px; text-align: center; overflow: hidden; margin-bottom: 25px}
.main h3{font-family: 'Nanum Gothic', sans-serif; font-size: 1.714em; color: #fff; margin: 15px 0}
.main p{font-family: 'Nanum Myeongjo', serif; color: #fff; font-weight: 700}
#content{text-align: center}
#content h2{font-family: 'Nanum Gothic', sans-serif; font-size: 2em; color: #33a8e4; font-weight: 700; margin-bottom: 10px}
#content>span{display: block; text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight: bold; margin-bottom: 15px}
#content .tabs{overflow: hidden; margin-bottom: 50px}
#content .tabs h3{float: left; width: 33.333%}
#content .tabs h3 a{display: block; background: #f2f2f2; padding: 10px 0}
#content .tabs h3:nth-of-type(2){letter-spacing: -1px}
#content .tabs h3:nth-of-type(3){letter-spacing: -1px}
#content .tabs h3 .active{color: #fff; background: #ff7d27; border: none}
#content ul{margin-bottom: 200px}
#content li{border: 1px solid #ff7d27; width: 90%; margin: 0 5%; text-align: left; margin-bottom: 20px}
#content .question{font-family: 'Nanum Gothic', sans-serif; font-size: 1.143em}
#content .question span{float: right}
#content .question i{font-weight: bold}
#content .question a{display: block; padding: 15px 5%}
#content .answer{padding: 10px 5%; text-align: justify; display: none; background: #f2f2f2; line-height: 1.5em}